<h1>Bookings#create</h1>
<p>Find me in app/views/bookings/create.html.erb</p>

<%= render partial: "form", locals: { title: "Creer sujet de discusion" }  %>

<%= link_to 'Retour index', bookings_path %>