<%= render layout: "booking_mailer/email_layout", locals: { header_color: "#ffc107", header_title: "Rappel de Réservation" } do %>
  <p>Bonjour <strong><%= @user.first_name || @user.email %></strong>,</p>
  
  <p>Nous vous rappelons que votre match est prévu <strong>demain</strong> :</p>
  
  <%= render partial: "booking_mailer/booking_details" %>
  
  <p>N'oubliez pas d'arriver 15 minutes avant l'heure prévue.</p>
  
  <p>
    À bientôt sur le terrain !<br>
    L'équipe LammaFoot
  </p>
<% end %>