<%= render layout: "booking_mailer/email_layout", locals: { header_color: "#dc3545", header_title: "Annulation de Réservation" } do %>
  <p>Bonjour <strong><%= @user.first_name || @user.email %></strong>,</p>
  
  <p>Votre réservation a été annulée.</p>
  
  <%= render partial: "booking_mailer/booking_details" %>
  
  <p>Si un paiement avait été effectué, le remboursement sera traité dans les 3-5 jours ouvrables.</p>
  
  <p>
    Cordialement,<br>
    L'équipe LammaFoot
  </p>
<% end %>